html { 
    box-sizing: border-box;
  }

h1{
    text-align: center;
}

h2{
    text-align: center;
}
h3{ 
    text-overflow: ellipsis;
}

  p{
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 0;
    line-break: 0;
    line-height: 1.6rem;
    text-indent: 22px;
    letter-spacing: 1px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

main{
    margin: 2.5%;
    background-color: pink
    
    
}

img{
    width: 60%;
    height: 30%;
    margin: auto;
    display: block;
    box-shadow: 20px;
    border-radius: 5%;
    margin-top: 10px;
    
    
}
body{
    background-color: lightskyblue
    
}
div{
    text-align: center;
    padding-top: 5%;
    font-size: xx-large;
}

a{
    font-weight: 700;
    color: yellow;
    font-size:xx-large;
    align-content: center;
    word-spacing: 10px;
}